.box{
    position: relative;
    width: 50%;
    height: 50%;
    margin-left: 20%;
    margin-top: 6%;
    background-color:burlywood;

}


@media only screen and (max-width: 780px) {
    .box {  
      background-color: yellow;
    }
}